name: Arm7
on:
  pull_request:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '**/README.md'

jobs:
  build:
    name: Linux ARMv7
    runs-on: ubuntu-latest
    strategy:
      matrix:
        clang: [["13.0", "clang_13_0"]]
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      # LLVM and Clang
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: ${{ matrix.clang[0] }}
          directory: ${{ runner.temp }}/llvm-${{ matrix.clang[0] }}
      - name: Install dependencies
        run: |
          sudo apt install -y cmake libclang-dev libc++-dev gcc-aarch64-linux-gnu g++-aarch64-linux-gnu 
          sudo ldconfig
      # Rust
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: armv7-unknown-linux-gnueabihf
          override: true
      # Build
      - name: build
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --target armv7-unknown-linux-gnueabihf
